<h1>Hola Mundo</h1>
<button [disabled]="btnDisabled" (click)="toggleButton()">Enviar</button>
<button (click)="increasAge()">Age++</button>
<input type="number" required [(ngModel)] = "age" >
<hr>
<p *ngIf="age == 18; else theElse">Hola tengo 18</p>
<ng-template #theElse>
  <p>Fragmento de else</p>
</ng-template>
<hr>
<h3>Lista con ngFor</h3>
<ul>
  <li *ngFor="let option of arrayNgfor; index as index">
    {{index}} {{option}}
    <button (click)="deleteElement(index)">Delete Name</button>
  </li>
</ul>
<h3>Add name in the list</h3>
<input type="text" [(ngModel)] = "name">
<button (click)="newNameInArray()">Add Name</button>
<!-- Aquí estoy accediendo a las propiedades de la clase que se instancian en este componente. -->
<h3>Hola soy {{name}} y tengo {{age}}</h3>
<img src="{{img}}" alt="image">
